<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="{{ url_for('static', filename='amin.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"> </script>
  </head>
  <!-- onload="keep_alive(); time(); sendCommand()"  -->
  <body
    style = 'background-color: #212121; color: #FAFAFA'
    >
    <div class="" id = "connection">
      <p>...</p>
    </div>
    <div class="" id = "distance">
      <p>...</p>
    </div>
    <div id="root">

    </div>
    <script src="https://unpkg.com/react@16.12.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.12.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone@7.8.3/babel.js"></script>
    <script type="text/babel">

    function renderApp() {

      function Distance() {

        const url = '/distance'; // the URL to send the HTTP request to
        const method = 'POST';
        const [distance, setDistance] = React.useState('...')

        const update_distnace = ()=>{
          let resp = await fetch(url, { method });
          setDistance(await resp.text);
        }

        let response = await fetch(url, { method });
        setDistance(await response.text);

        return (
          <div>
            <button onClick = {update_distnace}></button>
            <p>{distance}</p>
          </div>
        )
      }

      function App() {
        return (
          <Distance />
        )
      }

      ReactDOM.render(<App />, document.getElementById('root'))

    }

    setTimeout('renderApp()', 5000);

    </script>
  </body>
</html>
