<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="{{ url_for('static', filename='amin.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"> </script>
  </head>
  <body onload="keep_alive(); time(); sendCommand()">
    <div class="" id = "connection">
      <p>...</p>
    </div>
    <div class="" id = "distance">
      <p>...</p>
    </div>
  </body>
</html>
