<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="{{ url_for('static', filename='amin.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"> </script>
  </head>
  <!-- onload="keep_alive(); time(); sendCommand()"  -->
  <body
    style = 'background-color: #212121; color: #FAFAFA'
    >
    <div class="" id = "connection">
      <p>...</p>
    </div>
    <div class="" id = "distance">
      <p>...</p>
    </div>
    <div id="root">

    </div>
    <script src="https://unpkg.com/react@16.12.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.12.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone@7.8.3/babel.js"></script>
    <script type="text/babel">

    function renderApp() {

      async function get_distance() {
        let distance;
        const sendPost = async () => {
          const url = '/distance'; // the URL to send the HTTP request to
          const method = 'POST';
          const response = await fetch(url, { method });
          // console.log(response);
          // setDistance( await response.text() )
          // console.log(data);
          let dist =  await response.text()
          // console.log(dist);
          return dist
        }

        distance = await sendPost();
        return distance
      }

      function Distance() {
        const [distance, setDistance] = React.useState('...')


        const update_distnace = async ()=>{
          let dist = await get_distance()
          console.log(dist);
          setDistance(dist);
        }

        update_distnace()

        return (
          <div>
            <button onClick = {update_distnace}></button>
            <p>{distance}</p>
          </div>
        )
      }

      function App() {
        return (
          <Distance />
        )
      }

        ReactDOM.render(<App />, document.getElementById('root'))

    }

    setTimeout('renderApp()', 1000);

    </script>
  </body>
</html>
